version: "3.8"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    networks:
      - server_network
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8000:80/tcp"
    environment:
      TZ: {{ server_timezone }}
      PIHOLE_UID: {{ server_data_user_uid }}
      PIHOLE_GID: {{ server_data_group_gid }}
    volumes:
      - {{ pihole_config_path }}/etc-pihole:/etc/pihole
      - {{ pihole_config_path }}/etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped

networks:
  server_network:
    external:
      name: {{ docker_network_name }}